.contact-button {
  @apply inline-block relative rounded-lg bg-color2 px-8 py-3 text-center text-sm font-semibold
   text-color4 outline-none ring-color4 transition duration-100 hover:bg-color2
   focus-visible:ring active:bg-color5 md:text-base
   before:block before:absolute before:h-full before:w-full before:bg-color2 before:left-0
   before:top-0 before:-translate-y-full hover:before:translate-y-0 before:transition-transform;
}
