@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #eff0f5;
    --text-100: #dfe0ec;
    --text-200: #c0c2d8;
    --text-300: #a0a3c5;
    --text-400: #8185b1;
    --text-500: #61669e;
    --text-600: #4e527e;
    --text-700: #3a3d5f;
    --text-800: #27293f;
    --text-900: #131420;
    --text-950: #0a0a10;

    --background-50: #ebebfa;
    --background-100: #d6d6f5;
    --background-200: #adadeb;
    --background-300: #8585e0;
    --background-400: #5c5cd6;
    --background-500: #3333cc;
    --background-600: #2929a3;
    --background-700: #1f1f7a;
    --background-800: #141452;
    --background-900: #0a0a29;
    --background-950: #050514;

    --primary-50: #e5edff;
    --primary-100: #ccdaff;
    --primary-200: #99b6ff;
    --primary-300: #6691ff;
    --primary-400: #336dff;
    --primary-500: #0048ff;
    --primary-600: #003acc;
    --primary-700: #002b99;
    --primary-800: #001d66;
    --primary-900: #000e33;
    --primary-950: #00071a;

    --secondary-50: #ebeefa;
    --secondary-100: #d7def4;
    --secondary-200: #afbce9;
    --secondary-300: #879bde;
    --secondary-400: #5f7ad3;
    --secondary-500: #3759c8;
    --secondary-600: #2c47a0;
    --secondary-700: #213578;
    --secondary-800: #162350;
    --secondary-900: #0b1228;
    --secondary-950: #050914;

    --accent-50: #ffe6e7;
    --accent-100: #fecdcf;
    --accent-200: #fe9a9f;
    --accent-300: #fd686f;
    --accent-400: #fd353f;
    --accent-500: #fc030f;
    --accent-600: #ca020c;
    --accent-700: #970209;
    --accent-800: #650106;
    --accent-900: #320103;
    --accent-950: #190002;

    --gradient-main: linear-gradient(90deg, rgba(63,117,255,1) 0%, rgba(9,9,121,1) 35%, rgba(253,93,101,1) 100%); 

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0a0a10;
    --text-100: #131420;
    --text-200: #27293f;
    --text-300: #3a3d5f;
    --text-400: #4e527e;
    --text-500: #61669e;
    --text-600: #8185b1;
    --text-700: #a0a3c5;
    --text-800: #c0c2d8;
    --text-900: #dfe0ec;
    --text-950: #eff0f5;

    --background-50: #050514;
    --background-100: #0a0a29;
    --background-200: #141452;
    --background-300: #1f1f7a;
    --background-400: #2929a3;
    --background-500: #3333cc;
    --background-600: #5c5cd6;
    --background-700: #8585e0;
    --background-800: #adadeb;
    --background-900: #d6d6f5;
    --background-950: #ebebfa;

    --primary-50: #00071a;
    --primary-100: #000e33;
    --primary-200: #001d66;
    --primary-300: #002b99;
    --primary-400: #003acc;
    --primary-500: #0048ff;
    --primary-600: #336dff;
    --primary-700: #6691ff;
    --primary-800: #99b6ff;
    --primary-900: #ccdaff;
    --primary-950: #e5edff;

    --secondary-50: #050914;
    --secondary-100: #0b1228;
    --secondary-200: #162350;
    --secondary-300: #213578;
    --secondary-400: #2c47a0;
    --secondary-500: #3759c8;
    --secondary-600: #5f7ad3;
    --secondary-700: #879bde;
    --secondary-800: #afbce9;
    --secondary-900: #d7def4;
    --secondary-950: #ebeefa;

    --accent-50: #190002;
    --accent-100: #320103;
    --accent-200: #650106;
    --accent-300: #970209;
    --accent-400: #ca020c;
    --accent-500: #fc030f;
    --accent-600: #fd353f;
    --accent-700: #fd686f;
    --accent-800: #fe9a9f;
    --accent-900: #fecdcf;
    --accent-950: #ffe6e7;

  }
}


* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: middle;
  list-style: none;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}
