@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: middle;
  list-style: none;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}
